

* {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;

}
body {
    background-color: black;
}

h1 {
    font-size: 3em;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: rgb(51, 51, 51);
    background-color: rgb(111, 211, 86);
}

#container {
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px; 
    background-color: whitesmoke;
    min-height: 500px;
}
#dropdown, #categoryDD {
    font-size: 1em;
    border: 2px solid rgb(109, 109, 109);
    background-color: rgb(247, 246, 241);
    color: rgb(80, 80, 80);
    
} 


p {
    color: rgb(184, 184, 184);
}
#count {
    font-size: 1.6em;
    color:  rgb(80, 80, 80);
    text-align: center; 
}
select {  
    text-align-last: center; 
}
#level, #category {
    margin-top: 30px;
    text-align: center;
    
}
#question {
    font-size: 2em;
    color: rgb(119, 119, 119);
    text-align: center;
}
#feedback {
    font-size: 2.5em;
    text-align: center;
}
#finalScore {
    font-size: 2em;
    color: rgb(51, 51, 51);
    text-align: center;
}

.answer {
    border: 2px solid rgb(51, 51, 51);
    border-radius: 10px;
    padding-left : 10px;
    padding-right: 10px;
    margin-top: 10px;
    font-size: 1.2em;
    background-color: rgb(111, 211, 86);
    padding: 10px 20px 10px 20px;
   

}

button.answer:active {
    background-color: rgb(141, 238, 149);
    
}


#answerContainer {
    /* min-height: 300px; */
    text-align: center;
}

.nav {
    border-color:  rgb(111, 211, 86);
    font-size: 1.8em;
    color: rgb(111, 211, 86);
    margin-bottom: 30px;
    margin-top: 20px;
    background-color: rgb(51, 51, 51);
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    
    
}
.button {
    text-align: center;
}
li {
    list-style-type: none;
    margin-bottom: 10px;   
}


/* media queries */

/* medium */
@media screen and (max-width: 992px) {
    #question {
        font-size: 1.6em;
    }
    #count {
        font-size: 1.6em;
    }
    #feedback {
        font-size: 2em;
    }
    #finalScore {
        font-size: 1.6em;
    }
}
/* small */
@media screen and (max-width: 768px) {
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }
    #question #count #feedback #finalScore {
        font-size: 1.4em;;
    }
    /* #count {
        font-size: 1.4em;
    }
    #feedback {
        font-size: 1.8em;
    }
    #finalScore {
        font-size: 1.4em;
    } */
    .answer {
        font-size: 1em;
        margin-top: 5px;
        padding: 5px 10px 5px 10px;
    }
    .nav {
        font-size: 1.6em;
        padding: 5px 10px 5px 10px;
    }
}
/* extra small */
@media screen and (max-width: 576px) {
    h1 {
        font-size: 1.5em;
    }
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    #question {
        font-size: 1.2em;;
    }
    #count {
        font-size: 1.2em;
    }
    #dropdown {
        font-size: 1em;

    }
    #feedback {
        font-size: 1.6em;
    }
    #finalScore {
        font-size: 1.2em;
    }
    .answer {
        font-size: 0.8em;
    }
}